<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hx.mall.mapper.DeliverAddressMapper">
  <resultMap id="BaseResultMap" type="DeliverAddress">
    <id column="id" jdbcType="BIGINT" property="deliverAddressId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="consignee" jdbcType="VARCHAR" property="consignee" />
    <result column="phone" jdbcType="CHAR" property="phone" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="detail_address" jdbcType="VARCHAR" property="detailAddress" />
    <result column="postcode" jdbcType="INTEGER" property="postcode" />
    <result column="is_default" jdbcType="TINYINT" property="isDefault" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
</mapper>